:root{
    --colorPlaceholder: #C5FC6B; 
    --colorHover: green;
    --contColorResponsive: #1B1C1E;
    --colorIconos: #C5FC6B; 
    --lineaDiv: silver;
    --txtColor: white;


}

*{
    margin: 0px;
    font-family: Acme;
}
body{
    background-color: #0D0E0F; /*color del body*/

}

/*CSS del HEADER*/
header{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #C5FC6B;
    height: 25vh;
}
.contHeader{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
.h1Disponible{
    color: green;/*tiene q cambiar a rojo cuando el saldo disponible sea negativo ver si eso se hace con java script*/
    text-shadow: 1px 1px #0D0E0F; /*SOMBRA SOBRE DINERO DISPONIBLE VER SI LO DEJO O NO*/
    animation-name: izq;
    animation-duration: 2s;
    animation-iteration-count: infinite; /*defino la cantidad de veces que quiero que se repita la animacion*/
  animation-direction: alternate;/*defino que la animacion sea alternada*/
}
@keyframes izq{
    0%{
        transform: rotateX(360deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}


/*CSS seccion Hero (billetera + gastos)*/
.hero{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    
}
.contHero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
   
  
}
.contBilletera{
    background-color: #131415;
    color: var(--txtColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:70vh;
    width: 48%;
    border-radius: 10px;
   
}
.contBilletera h2{
    font-size: 3rem;
}
.onOff{
    
    width: 80%;
    

}

.light{
    font-size: 2rem;
    color: #b55b52;
    transition: 0.5s;
    
}
.light:hover{
    transform: scale(1.5);
    

}

.dark{
    font-size: 2rem;
    color:#C5FC6B;
    transition: 0.5s;
}
.dark:hover{
    transform: scale(1.5);
  
}

/* CSS FORMULARIO SECTION BILLETERA*/

.contFormu{ /*div contenedor de los inputs*/
    margin-top: 1rem;
    width:80%;
    height: 50%;
    
    
}
.contDinero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inputDinero{
   width: 80%;
   height: 4rem;
    background-color: #1B1C1E;
    border-radius: 10px;
    border: 0px solid;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    
    
  
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} /*con este codigo desactivo las flechas del input number*/

.contGastoyMonto{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputGasto{
    width: 40%;
    height: 4rem;
    background-color: #1B1C1E;
    border-radius: 10px;
    border: 0px solid;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    

}
.inputMonto{
    width: 40%;
    height: 4rem;
    background-color: #1B1C1E;
    border-radius: 10px;
    border: 0px solid;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    
}
.iconoAgregar{
    color: var(--colorIconos);
    font-size: 2rem;
    transition: 0.5s;
}
.iconoAgregar:hover{
    color: var(--colorHover);
    transform:scale(1.5) rotate(360deg);
    
}


.iconoDinero{
    color: var(--colorIconos);
    font-size: 2rem;
    transition: 0.5s;
}
.iconoDinero:hover{
   color: var(--colorHover);
    transform: scale(1.5);
}


/*seccion Billetera CSS efectos FOCUS */
:focus{ /* uso Focus para cambiar el color del borde de los inputs al estar seleccionado*/
  outline: 1px solid var(--colorPlaceholder);
  
  
}
:focus::placeholder{ /*iluminacion del placeholder al hacer focus*/
    color: var(--colorPlaceholder);
}
::placeholder{
   padding-left: 0px;
   
}

/* CSS section Gastos Realizados*/

.contGastosRealizados{
    background-color: #131415;
    color: var(--txtColor);
    display: flex;
    justify-content: center;
   align-items: center;
    flex-direction: column;
    height:70vh;
    width: 48%;
    border-radius: 10px;
   

}
.divGastos{
    padding: 0.5rem;
    

    width: 80%;
    height:50% ;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    overflow-y:  auto; 
}
.divGastos::-webkit-scrollbar{/*de esta forma oculto la barra de navegacion del contenedor divGastos en caso de los gastos excedan el contenedor y tengan q scrollearse*/
    display: none;
}
.contGastosRealizados h2{
    font-size: 3rem;
}
.gasto{

  
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lineaDiv);
    color: var(--txtColor);
    
    
}
.gastoRealizado{
    
    flex-basis:70%;
}


.iconoEliminar{
    color: var(--colorIconos);
    transition: 0.5s;
}
.iconoEliminar:hover{
    color: red;
    transform: scale(1.5) rotate(380deg) ;
    
    
}

/*SECCION FOOTER*/
.footResponsive{
    display: none;
}



/* CSS RESPONSIVE*/

@media(max-width:1025px){

    /*responsive header///falta agregar los valores de ingreso y gastos*/
    header{
        border-radius: 20px;
        margin: 0.5rem;
        position: sticky;/*position sticky solo para responsive*/
        top: 0px;
    }
.contHeader{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.contDisponible{
    text-align: center;
}

.contGastosRealizados{
    background-color: transparent;
    border: 1px solid silver;
}
.divGastos{
width: 90%;


}
.contFormu{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.contGastoyMonto{
    margin-top: 10%;
}

.gasto{
    display: flex;
    justify-content: space-evenly;
background-color: var(--contColorResponsive);

border: 0px solid;
border-radius: 10px;
height: 30%;
padding-top: 3%;
padding-bottom: 3%;
margin-top: 1%;
margin-bottom: 1%;





}
.contGastos{
    display: none;
}
.contIngreso{
    display: none;
    }




/*Responsive contenedores Billetera y Gastos*/

    .contHero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contBilletera{
        margin-top: 0.5rem;
        width: 95%;
        height: 50vh;
        border-radius: 20px;
        background-color: transparent;
        border: 1px solid silver;
    }
   
    .contGastosRealizados{
        margin-top: 1rem;
        width: 95%;
        height: 60vh;
        border-radius: 20px;

    }
   
    .inputDinero{
        height: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .inputGasto{
        height: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
       
    }
    .inputMonto{
        height: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
       
    }
.iconoAgregar{
    pointer-events: none; /*desactivo el efecto hover para responsive*/
}
.iconoDinero{
    pointer-events: none;
}

/*footer responsive*/
.footResponsive{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5FC6B;
    margin: 0.5rem;
    border-radius: 20px;
    position: sticky;
    bottom: 0px;
}
.contFoot{
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}
}

/*Responsive Horizontal*/

@media(max-width:1025px) and (orientation:landscape){
    header{
        border-radius: 20px;
        margin: 0.5rem;
    }
.contHeader{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.contDisponible{
    
    width: 40vw;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contGastos{
    display: none;
}
.contIngreso{
    display: none;
    }

    /*Responsive contenedores Billetera y Gastos*/

    .contHero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contBilletera{
        margin-top: 0.5rem;
        width: 95%;
        height: 70vh;
        border-radius: 20px;
        display: flex;
        
    }
    .contGastoyMonto{
        margin-top: 1rem;
        overflow-y: scroll;
    }
    .contFormu{
        display: flex;
        justify-content: center;
    }
    .contGastosRealizados{
        margin-top: 1rem;
        width: 95%;
        height: 60vh;
        border-radius: 20px;
        

    }
   
    .inputDinero{
        height: 0.4rem;
    }
    .inputGasto{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        height: 0.4rem;
    }
    .inputMonto{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        height: 0.4rem;
    }

    .onOff{
        display: flex;
    height: 0.5%;
       
    }

    .iconoAgregar{
        pointer-events: none;
    }
    .iconoDinero{
        pointer-events: none;
    }

}
